@charset "utf-8";

html, body{
	background: linear-gradient(-30deg, rgba(110, 220, 255, 1), rgba(200, 240, 255, 1));
}

.timeline__item__query__string{
	border-left: solid 7px rgba(0, 90, 255, 1);
}

.timeline__item__response__keyword{
	border-left: solid 3px rgba(60, 130, 255, 0.5);
}

#query-area{
	background: rgba(200, 240, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
	html{
		background: rgb(20, 21, 20);
	}
	body {
		color: #ddd;
		background: rgb(20, 21, 20);
		font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	}

	#query-area{
		background-color: rgba(33, 35, 33, 1.0);
		color: #ddd;
	}
}

